@tailwind base;
@tailwind components;
@tailwind utilities;

#map-wrapper {
  height: 0; 
  overflow: hidden; 
  transition: height 0.3s ease;
}

.weather-cards-container {
  overflow-x: scroll;
  scrollbar-width: none;
}

.weather-cards-container::-webkit-scrollbar {
  display: none;
}

.weather-card.highlight {
  background-color: yellow;
  color: black;
}

@keyframes moveLeftToRight {
  0% {
    transform: translateX(-100vw); /* Start off the screen on the left */
  }
  100% {
    transform: translateX(100vw); /* Move off the screen on the right */
  }
}

.animate-move {
  position: absolute;
  animation: moveLeftToRight linear infinite;
}




